In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime as dt
import pickle
import seaborn as sns

%matplotlib inline

In [ ]:
import folium

In [ ]:
from googlemaps import Client as GoogleMaps

In [ ]:
gmaps = GoogleMaps(key='AIzaSyC7C2hQIZfT7gWC_anSe8JWaw8Spc80Eqk')

In [2]:
#Links to raw MTA urls - using month of May for data as will want to promote the last month before Gala starts on June 1st. 
url1 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190504.txt'
url2 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190511.txt'
url3 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190518.txt'
url4 = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190525.txt'

In [3]:
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    col_names= ['CA','UNIT','SCP','STATION','LINENAME','DIVISION','DATE','TIME','DESC','ENTRIES','EXITS']
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url, sep=",", header=0, names = col_names, parse_dates=[['DATE', 'TIME']]))
    return pd.concat(dfs)
        
week_nums = [190504, 190511, 190518, 190525]
df = get_data(week_nums)

In [4]:
df['day_of_week'] = df['DATE_TIME'].dt.weekday_name

In [5]:
df.head()

,DATE_TIME,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,day_of_week
0,2019-04-27 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035249,2384833,Saturday
1,2019-04-27 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035269,2384840,Saturday
2,2019-04-27 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035292,2384875,Saturday
3,2019-04-27 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035392,2384951,Saturday
4,2019-04-27 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035651,2385020,Saturday

## VERIFYING THAT WE HAVE ONLY 1 ENTRY PER ROW

In [ ]:
df.groupby(["CA", "UNIT", "SCP", "STATION", "DATE_TIME"]).ENTRIES.count().reset_index().sort_values("ENTRIES", ascending=False).head(5)

In [6]:
df = df[df.DESC == 'REGULAR']

In [ ]:
df.groupby(["CA", "UNIT", "SCP", "STATION", "DATE_TIME"]).ENTRIES.count().reset_index().sort_values("ENTRIES", ascending=False).head(5)

In [7]:
df.head(12)

,DATE_TIME,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,day_of_week
0,2019-04-27 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035249,2384833,Saturday
1,2019-04-27 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035269,2384840,Saturday
2,2019-04-27 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035292,2384875,Saturday
3,2019-04-27 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035392,2384951,Saturday
4,2019-04-27 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035651,2385020,Saturday
5,2019-04-27 20:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035930,2385070,Saturday
6,2019-04-28 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7036100,2385087,Sunday
7,2019-04-28 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7036119,2385088,Sunday
8,2019-04-28 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7036125,2385103,Sunday
9,2019-04-28 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7036197,2385155,Sunday
10,2019-04-28 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7036372,2385198,Sunday
11,2019-04-28 20:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7036621,2385240,Sunday

## CONNECTING WITH GOOGLE API TO GET ADDRESS, LONG & LATE OF EACH STATION

In [ ]:
geocode_result = gmaps.geocode('Botanic Garden, New York, NY')
print(geocode_result)
latitude = geocode_result[0]['geometry']['location']['lat']

In [ ]:
geocode_result[0].keys()

In [ ]:
stations = df['STATION'].unique()
ny_stations = list(map(lambda x: x + ', New York, NY', stations))

In [ ]:
results=[]

for station in ny_stations:
    geocode_result = gmaps.geocode(station)
    results.append(geocode_result)

In [ ]:
import pprint as pp

lat_dict, lng_dict = {},{}

for idx, result in enumerate(results):
    lat = result[0]['geometry']['location']['lat']
    lng = result[0]['geometry']['location']['lng']
    station_name = stations[idx]
    lat_dict[station_name] = lat
    lng_dict[station_name] = lng

In [ ]:
address_dict = {}

for idx, result in enumerate(results):
    address = result[0]['formatted_address']
    station_name = stations[idx]
    address_dict[station_name] = address

In [ ]:
df['address'] = df['STATION'].apply(lambda station:address_dict[station])
df['lat'] = df['STATION'].apply(lambda station:lat_dict[station])
df['lng'] = df['STATION'].apply(lambda station:lng_dict[station])
df.head()

## CLEANING DATA and GETTING TOP 20 STATIONS

In [8]:
df.head()

,DATE_TIME,CA,UNIT,SCP,STATION,LINENAME,DIVISION,DESC,ENTRIES,EXITS,day_of_week
0,2019-04-27 00:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035249,2384833,Saturday
1,2019-04-27 04:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035269,2384840,Saturday
2,2019-04-27 08:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035292,2384875,Saturday
3,2019-04-27 12:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035392,2384951,Saturday
4,2019-04-27 16:00:00,A002,R051,02-00-00,59 ST,NQR456W,BMT,REGULAR,7035651,2385020,Saturday

In [9]:
df = df.groupby(["CA", "UNIT", "SCP", "STATION", "DATE_TIME"]).ENTRIES.first().reset_index()

In [10]:
df.head()

     CA  UNIT       SCP STATION           DATE_TIME  ENTRIES
0  A002  R051  02-00-00   59 ST 2019-04-27 00:00:00  7035249
1  A002  R051  02-00-00   59 ST 2019-04-27 04:00:00  7035269
2  A002  R051  02-00-00   59 ST 2019-04-27 08:00:00  7035292
3  A002  R051  02-00-00   59 ST 2019-04-27 12:00:00  7035392
4  A002  R051  02-00-00   59 ST 2019-04-27 16:00:00  7035651

In [11]:
df[["PREV_DATE", "PREV_ENTRIES"]] = (df.groupby(["CA", "UNIT", "SCP", "STATION"])["DATE_TIME", "ENTRIES"].transform(lambda grp: grp.shift(1)))

In [12]:
df.head(5)

,CA,UNIT,SCP,STATION,DATE_TIME,ENTRIES,PREV_DATE,PREV_ENTRIES
0,A002,R051,02-00-00,59 ST,2019-04-27 00:00:00,7035249,NaT,NaN
1,A002,R051,02-00-00,59 ST,2019-04-27 04:00:00,7035269,2019-04-27 00:00:00,7035249.0
2,A002,R051,02-00-00,59 ST,2019-04-27 08:00:00,7035292,2019-04-27 04:00:00,7035269.0
3,A002,R051,02-00-00,59 ST,2019-04-27 12:00:00,7035392,2019-04-27 08:00:00,7035292.0
4,A002,R051,02-00-00,59 ST,2019-04-27 16:00:00,7035651,2019-04-27 12:00:00,7035392.0

In [13]:
df.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

In [14]:
(df[df["ENTRIES"] < df["PREV_ENTRIES"]]
    .groupby(["CA", "UNIT", "SCP", "STATION"])
    .size())

CA     UNIT  SCP       STATION
A025   R023  01-03-01  34 ST-HERALD SQ    169
A046   R463  00-00-03  CANAL ST             1
A049   R088  02-05-00  CORTLANDT ST        44
A060   R001  00-00-00  WHITEHALL S-FRY      1
             00-00-02  WHITEHALL S-FRY      1
A066   R118  00-00-00  CANAL ST           169
A071   R044  02-06-00  CHAMBERS ST          1
B020   R263  00-03-02  AVENUE H             1
B024A  R211  02-00-00  KINGS HWY            1
B028   R136  01-00-01  SHEEPSHEAD BAY       1
C021   R212  00-00-02  59 ST              169
C025   R215  00-00-00  86 ST                1
D005   R398  00-06-00  NEW UTRECHT AV       1
D011   R394  01-06-00  BAY PKWY           134
             01-06-01  BAY PKWY           155
H003   R163  01-00-02  6 AV               170
H009   R235  00-00-01  BEDFORD AV           1
             00-06-02  BEDFORD AV           1
             00-06-03  BEDFORD AV           1
H023   R236  00-06-00  DEKALB AV          144
H041   R152  00-00-01  CANARSIE-ROCKAW      1
J034   R007  00-00-02  104 ST             137
JFK01  R535  00-00-03  HOWARD BCH JFK       1
JFK02  R535  01-00-02  HOWARD BCH JFK       1
             01-00-03  HOWARD BCH JFK       1
JFK03  R536  00-00-03  JFK JAMAICA CT1      2
             00-00-04  JFK JAMAICA CT1      2
             00-00-05  JFK JAMAICA CT1      4
             00-03-04  JFK JAMAICA CT1      2
K024   R403  00-00-02  FOREST AVE           1
                                         ...
R257   R182  01-00-00  116 ST               1
             01-00-01  116 ST               1
R258   R132  00-00-04  125 ST             183
             00-03-00  125 ST               1
R288   R275  00-00-03  183 ST               1
R289   R119  00-05-01  FORDHAM RD           1
R304   R206  00-00-00  125 ST             178
R310   R053  01-00-02  3 AV-149 ST        169
R311   R053  00-00-02  3 AV-149 ST          1
             00-00-03  3 AV-149 ST        161
R318   R408  00-00-01  SIMPSON ST         167
R322   R386  00-00-02  174 ST             168
R403   R446  01-00-02  BROOK AV             1
R408   R449  00-00-00  E 149 ST             1
R523   R147  00-00-04  61 ST WOODSIDE     145
R532   R328  00-00-00  METS-WILLETS PT      1
             00-00-04  METS-WILLETS PT      1
R601A  R108  02-00-01  BOROUGH HALL         1
R610   R057  00-03-01  ATL AV-BARCLAY       2
R622   R123  00-00-00  FRANKLIN AV        171
             00-00-01  FRANKLIN AV          1
             00-00-02  FRANKLIN AV          1
             00-00-03  FRANKLIN AV          1
             00-00-04  FRANKLIN AV          1
             00-00-05  FRANKLIN AV          1
             00-00-06  FRANKLIN AV          1
             00-00-07  FRANKLIN AV          1
R629   R065  00-00-00  ROCKAWAY AV          1
R646   R110  01-00-01  FLATBUSH AV-B.C    167
R730   R431  00-00-04  EASTCHSTER/DYRE    166
Length: 173, dtype: int64

In [15]:
def get_daily_counts(row, max_counter):
    counter = row["ENTRIES"] - row["PREV_ENTRIES"]
    if counter < 0:
        counter = -counter
    if counter > max_counter:
        #print(row["ENTRIES"], row["PREV_ENTRIES"])
        return 0
    return counter

In [16]:
df["4H_SUM"] = df.apply(get_daily_counts, axis=1, max_counter=1000000)

In [17]:
df.head()

,CA,UNIT,SCP,STATION,DATE_TIME,ENTRIES,PREV_DATE,PREV_ENTRIES,4H_SUM
1,A002,R051,02-00-00,59 ST,2019-04-27 04:00:00,7035269,2019-04-27 00:00:00,7035249.0,20.0
2,A002,R051,02-00-00,59 ST,2019-04-27 08:00:00,7035292,2019-04-27 04:00:00,7035269.0,23.0
3,A002,R051,02-00-00,59 ST,2019-04-27 12:00:00,7035392,2019-04-27 08:00:00,7035292.0,100.0
4,A002,R051,02-00-00,59 ST,2019-04-27 16:00:00,7035651,2019-04-27 12:00:00,7035392.0,259.0
5,A002,R051,02-00-00,59 ST,2019-04-27 20:00:00,7035930,2019-04-27 16:00:00,7035651.0,279.0

### WE ARE GOOD UNTIL HERE

In [18]:
df['day_of_week'] = df['DATE_TIME'].dt.dayofweek

In [19]:
df.head()

,CA,UNIT,SCP,STATION,DATE_TIME,ENTRIES,PREV_DATE,PREV_ENTRIES,4H_SUM,day_of_week
1,A002,R051,02-00-00,59 ST,2019-04-27 04:00:00,7035269,2019-04-27 00:00:00,7035249.0,20.0,5
2,A002,R051,02-00-00,59 ST,2019-04-27 08:00:00,7035292,2019-04-27 04:00:00,7035269.0,23.0,5
3,A002,R051,02-00-00,59 ST,2019-04-27 12:00:00,7035392,2019-04-27 08:00:00,7035292.0,100.0,5
4,A002,R051,02-00-00,59 ST,2019-04-27 16:00:00,7035651,2019-04-27 12:00:00,7035392.0,259.0,5
5,A002,R051,02-00-00,59 ST,2019-04-27 20:00:00,7035930,2019-04-27 16:00:00,7035651.0,279.0,5

In [21]:
df['4H_SUM'] = df.groupby(["CA", "UNIT", "SCP", "STATION", "DATE_TIME"])['4H_SUM'].transform(lambda x: np.where((x<0)|(x>20000),x.mask((x<0)|(x>20000)).mean(),x))
# df['EXITS'] = df.groupby(["CA", "UNIT", "SCP", "STATION", "DATE_TIME"]).EXITS.transform(lambda x: np.where((x<0)|(x>20000),x.mask((x<0)|(x>20000)).mean(),x))

In [ ]:
df.head()

,CA,UNIT,SCP,STATION,DATE_TIME,ENTRIES,PREV_DATE,PREV_ENTRIES,4H_SUM,day_of_week
1,A002,R051,02-00-00,59 ST,2019-04-27 04:00:00,7035269,2019-04-27 00:00:00,7035249.0,20.0,5
2,A002,R051,02-00-00,59 ST,2019-04-27 08:00:00,7035292,2019-04-27 04:00:00,7035269.0,23.0,5
3,A002,R051,02-00-00,59 ST,2019-04-27 12:00:00,7035392,2019-04-27 08:00:00,7035292.0,100.0,5
4,A002,R051,02-00-00,59 ST,2019-04-27 16:00:00,7035651,2019-04-27 12:00:00,7035392.0,259.0,5
5,A002,R051,02-00-00,59 ST,2019-04-27 20:00:00,7035930,2019-04-27 16:00:00,7035651.0,279.0,5

In [ ]:
top_20_stations_with_sum = df.groupby(['STATION'])['4H_SUM'].sum().sort_values(ascending = False).head(16)
print(top_20_stations_with_sum)

In [ ]:
top_20_stations_with_sum.head(16)

In [ ]:
top_20 = list(top_20_stations_with_sum.index[:])

In [ ]:
top_20

In [ ]:
del top_20[1]

In [ ]:
top_20

In [ ]:
# map_osm = folium.Map(location=[40.7580, -73.9855], zoom_start=12.2)
# df.apply(lambda row:folium.CircleMarker(location=[row["lat"], row["lng"]], radius=2, color='#1A10DE', fill_color= 'red').add_to(map_osm), axis=1)
# map_osm

In [ ]:
df_top_15 = df[df['STATION'].isin(top_20)]

In [ ]:
df_top_15['STATION'].nunique()

In [ ]:
df_top_15.head()

In [ ]:
#df_top_20_no_date = df_top_20.reset_index()

## use date_time as index

In [ ]:
# df_top_20 = df_top_20.set_index('DATE_TIME')
# df_top_20.drop(['PREV_DATE'], axis=1, inplace=True)
# df_top_20

In [ ]:
# df_top_20.reset_index()

In [ ]:
df_top_15['STATION'].unique()

In [ ]:
#fourH_DailyEntries_top_20 = df_top_20.groupby(['STATION'])['4H_SUM'].resample('4H').sum()

In [ ]:
#fourH_DailyEntries_top_20

In [ ]:
#fourH_DailyEntries_top_20.plot(kind='line', legend=True)

In [ ]:
#top_20_stations_with_sum.head()

In [ ]:
df_top_15['STATION'].nunique()

In [ ]:
gb_station_top15 = df_top_15.groupby(['STATION'])['4H_SUM'].sum().sort_values(ascending=False).head(15)

In [ ]:
gb_station_top15.plot(kind='bar',title= "Top 15 Stations by Traffic in May 2019")

In [ ]:
df_top_5 = df_top_15[df_top_15['STATION'].isin(['86 ST','59 ST COLUMBUS','23 ST','14 ST-UNION SQ','CANAL ST'])]

In [ ]:
gb_station_top5 = df_top_5.groupby(['STATION'])['4H_SUM'].sum().sort_values(ascending=False).head(15)

In [ ]:
gb_station_top5.plot(kind='bar',title= "Top 5 Stations by Trafficin Highest Median Income Area")

In [ ]:
df_top_5.head()

In [ ]:
gb_station_top5_by_day_of_week = df_top_5.groupby(['day_of_week'])['4H_SUM'].sum().head(15)

In [ ]:
gb_station_top5_by_day_of_week.plot(kind='bar',title= "Top 5 Stations by Traffic in Highest Median Income Area")