In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [2]:
df = pd.read_csv('http://web.mta.info/developers/data/nyct/turnstile/turnstile_190921.txt')#, parse_dates=[['DATE', 'TIME']])

#no need for that anymore
#df['DATE'] = pd.to_datetime(df['DATE'])

In [3]:
df['DATE'] = pd.to_datetime(df['DATE'])

In [4]:
df.rename(columns ={"EXITS                                                               ":"EXITS"}, inplace=True)

In [5]:
df.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES', 'EXITS'],
      dtype='object')

In [6]:
df.dtypes

C/A                 object
UNIT                object
SCP                 object
STATION             object
LINENAME            object
DIVISION            object
DATE        datetime64[ns]
TIME                object
DESC                object
ENTRIES              int64
EXITS                int64
dtype: object

In [7]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-14,00:00:00,REGULAR,7198818,2438323
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-14,04:00:00,REGULAR,7198834,2438325
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-14,08:00:00,REGULAR,7198847,2438354
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-14,12:00:00,REGULAR,7198929,2438428
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2019-09-14,16:00:00,REGULAR,7199125,2438483

In [ ]:
df['UNIT'].unique()

In [ ]:
np.count_nonzero(df.isnull())

In [ ]:
# average of entries for each day by station and date
df.groupby(['UNIT','STATION','DATE_TIME'])[['ENTRIES']].mean().sort_values('ENTRIES', ascending=False)

In [ ]:
##NO GOOD df.groupby(['UNIT','STATION']).sort_values('UNIT', ascending=False)

In [8]:
df.groupby('STATION')['SCP'].apply(lambda x: list(np.unique(x)))

UNIT
R001                       [SOUTH FERRY, WHITEHALL S-FRY]
R003                                      [CYPRESS HILLS]
R004                                      [75 ST-ELDERTS]
R005                                    [85 ST-FOREST PK]
R006                                     [WOODHAVEN BLVD]
R007                                             [104 ST]
R008                                             [111 ST]
R009                                             [121 ST]
R010                                    [42 ST-PORT AUTH]
R011                                    [42 ST-PORT AUTH]
R012                                     [34 ST-PENN STA]
R013                                     [34 ST-PENN STA]
R014                                          [FULTON ST]
R015                                         [5 AV/53 ST]
R016                                    [LEXINGTON AV/53]
R017                                    [LEXINGTON AV/53]
R018                    [74 ST-BROADWAY, JKSN HT-ROOSVLT]
R019                                     [JAMAICA 179 ST]
R020                                     [47-50 STS ROCK]
R021                                    [42 ST-BRYANT PK]
R022                                    [34 ST-HERALD SQ]
R023                                    [34 ST-HERALD SQ]
R024                                     [SUTPHIN-ARCHER]
R025                                     [JAMAICA CENTER]
R027                                            [WALL ST]
R028                                          [FULTON ST]
R029           [CHAMBERS ST, PARK PLACE, WORLD TRADE CTR]
R030                                        [CHAMBERS ST]
R031                                     [34 ST-PENN STA]
R032                                     [TIMES SQ-42 ST]
                              ...
R452                                              [72 ST]
R453                                              [23 ST]
R455                                              [25 ST]
R456                                            [HOYT ST]
R459                                      [ORCHARD BEACH]
R460                                           [MARCY AV]
R461                                    [B'WAY-LAFAYETTE]
R462                                           [CANAL ST]
R463                                           [CANAL ST]
R464                                    [AQUEDUCT RACETR]
R468                                      [RIT-MANHATTAN]
R469                                      [RIT-ROOSEVELT]
R535                                     [HOWARD BCH JFK]
R536                                    [JFK JAMAICA CT1]
R540                           [PATH NEW WTC, PATH WTC 2]
R541                         [THIRTY ST, THIRTY THIRD ST]
R542                                    [TWENTY THIRD ST]
R543                                     [EXCHANGE PLACE]
R544                                           [HARRISON]
R545                                        [14TH STREET]
R546                                    [PAVONIA/NEWPORT]
R547                                         [9TH STREET]
R548                                     [CHRISTOPHER ST]
R549    [NEWARK BM BW, NEWARK C, NEWARK HM HE, NEWARK ...
R550                             [CITY / BUS, LACKAWANNA]
R551                                       [GROVE STREET]
R552                                     [JOURNAL SQUARE]
R570                                        [72 ST-2 AVE]
R571                                        [86 ST-2 AVE]
R572                                        [96 ST-2 AVE]
Name: STATION, Length: 468, dtype: object

In [ ]:
print(df['UNIT'].nunique())
print(df['STATION'].nunique())

We have 468 different units recording at 378 different stations. Some stations have multiple units. Add potential sum after counting the traffic

In [9]:
df['ENTRIES_diff'] = df.ENTRIES.diff()
df['EXITS_diff'] = df.EXITS.diff()

In [11]:
df[['UNIT', 'DATE', 'ENTRIES', 'EXITS', 'ENTRIES_diff', 'EXITS_diff']].head(10)

   UNIT       DATE  ENTRIES    EXITS  ENTRIES_diff  EXITS_diff
0  R051 2019-09-14  7198818  2438323           NaN         NaN
1  R051 2019-09-14  7198834  2438325          16.0         2.0
2  R051 2019-09-14  7198847  2438354          13.0        29.0
3  R051 2019-09-14  7198929  2438428          82.0        74.0
4  R051 2019-09-14  7199125  2438483         196.0        55.0
5  R051 2019-09-14  7199405  2438527         280.0        44.0
6  R051 2019-09-15  7199547  2438545         142.0        18.0
7  R051 2019-09-15  7199567  2438547          20.0         2.0
8  R051 2019-09-15  7199579  2438564          12.0        17.0
9  R051 2019-09-15  7199648  2438630          69.0        66.0

In [19]:
df.groupby('UNIT')[['ENTRIES_diff','EXITS_diff']].sum()

      ENTRIES_diff    EXITS_diff
UNIT
R001 -1.375065e+06  1.169864e+06
R003 -6.986295e+06 -5.665908e+06
R004  1.240453e+06  1.549051e+06
R005  1.552781e+06  2.061546e+06
R006 -6.223741e+06 -6.258554e+06
R007  3.360463e+06  4.526557e+06
R008  2.185343e+06  2.771710e+05
R009  1.939329e+09  5.151723e+08
R010  4.636551e+06 -7.947700e+04
R011 -5.465376e+06 -1.261600e+05
R012  1.181565e+08 -2.039215e+06
R013 -1.152171e+08  4.932771e+06
R014 -1.532852e+06 -1.223455e+06
R015  2.251592e+06  1.774625e+06
R016 -3.317586e+08 -1.595832e+09
R017  3.310512e+08  1.599606e+09
R018 -2.840960e+06  5.132781e+06
R019 -2.649921e+06 -3.607620e+05
R020 -3.838750e+05 -9.853660e+05
R021  5.670470e+06  2.665558e+06
R022 -3.978861e+06  2.548280e+05
R023  8.002691e+07 -7.287007e+06
R024  7.086604e+07  2.295618e+07
R025 -6.296941e+07 -2.118902e+07
R027  5.446230e+05  6.722220e+05
R028 -1.832422e+06  1.164117e+06
R029 -6.449160e+05 -2.171364e+06
R030  1.345312e+07  7.164434e+06
R031 -6.222624e+06 -1.417117e+08
R032 -6.416650e+07 -1.276299e+07
...            ...           ...
R452 -5.169640e+05 -1.293460e+05
R453  7.447300e+04  9.783160e+05
R455 -1.060528e+07  3.440848e+06
R456  1.992357e+06  8.866230e+05
R459 -1.239529e+06 -4.089770e+05
R460  2.382870e+05  1.100820e+05
R461  2.778852e+06  2.304516e+06
R462  7.150031e+06  6.848511e+06
R463 -5.616435e+06  3.200399e+06
R464  5.104691e+07 -8.226900e+04
R468 -1.580000e+02  0.000000e+00
R469  5.249000e+03  4.200000e+02
R535 -6.396831e+06 -3.731670e+05
R536 -1.181700e+04 -1.216800e+04
R540  1.903390e+05  5.432500e+04
R541  1.329470e+05 -1.268530e+05
R542  4.643000e+03  5.902200e+04
R543 -5.227000e+03  1.387490e+05
R544  3.471000e+03  5.013100e+04
R545 -2.253000e+03  6.469200e+04
R546  2.547200e+04 -1.620640e+05
R547 -8.636000e+03 -5.126000e+03
R548  4.845000e+03 -8.790000e+02
R549 -1.400370e+05  9.805300e+04
R550 -6.901500e+04  3.432300e+04
R551  4.986100e+04  3.221900e+04
R552  3.966000e+03 -1.583180e+05
R570 -6.185700e+06 -1.155586e+06
R571  1.461246e+06  1.841580e+05
R572 -1.932535e+06 -3.874290e+05

[468 rows x 2 columns]

In [ ]:
df.head()

In [13]:
math = df[['UNIT','DATE','ENTRIES_diff','EXITS_diff']]

In [15]:
math2 = df['UNIT'] == 'R003'

In [ ]:
math2

In [22]:
mask = df[math2][['UNIT','DATE','ENTRIES_diff','EXITS_diff']].iloc[1:]

In [23]:
mask.head()

       UNIT       DATE  ENTRIES_diff  EXITS_diff
40056  R003 2019-09-14           4.0        14.0
40057  R003 2019-09-14          42.0        15.0
40058  R003 2019-09-14          59.0        46.0
40059  R003 2019-09-14          62.0        66.0
40060  R003 2019-09-14          40.0        81.0

In [ ]:
df.DATE_TIME.value_counts()

In [ ]:
x = mask['DATE_TIME']
y = mask['ENTRIES_diff']

In [ ]:
df[df.DATE_TIME == '09/20/2019'].groupby(
    ['STATION'],sort = False).nunique().ENTRIES_diff.sort_values().tail(5)