In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt

%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [3]:
path = 'http://web.mta.info/developers/data/nyct/turnstile/turnstile_190921.txt'
col_names = ['C/A','UNIT','SCP','STATION','LINENAME','DIVISION','DATE','TIME','DESC','ENTRIES','EXITS']
df = pd.read_csv(path, header = 0, names = col_names)

In [30]:
df.columns = df.columns.str.strip()

In [60]:
df[df.DATE > '09/14/2019'].groupby(['STATION'], sort=False).sum().ENTRIES_diff.sort_values().tail(6)

STATION
TIMES SQ-42 ST     575483.512195
14 ST-UNION SQ     593406.000000
34 ST-HERALD SQ    671282.000000
23 ST              691504.580488
GRD CNTRL-42 ST    823406.519944
34 ST-PENN STA     952795.970122
Name: ENTRIES_diff, dtype: float64

In [32]:
df = df[df.DESC == 'REGULAR']

In [36]:
df['ENTRIES_diff'] = df.ENTRIES.diff()
df['EXITS_diff'] = df.EXITS.diff()
df['TRAFFIC_sum'] = df['ENTRIES_diff'] + df['EXITS_diff']

In [37]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,ENTRIES_diff,EXITS_diff,TRAFFIC_sum
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,00:00:00,REGULAR,7198818,2438323,NaN,NaN,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,04:00:00,REGULAR,7198834,2438325,16.0,2.0,18.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,08:00:00,REGULAR,7198847,2438354,13.0,29.0,42.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,12:00:00,REGULAR,7198929,2438428,82.0,74.0,156.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/14/2019,16:00:00,REGULAR,7199125,2438483,196.0,55.0,251.0

In [42]:
df['ENTRIES_diff'] = df.groupby(['STATION','SCP']).ENTRIES_diff.transform(
        lambda x: np.where((x<0)|(x>20000),x.mask((x<0)|(x>20000)).mean(),x))
    

df['EXITS_diff'] = df.groupby(['STATION','SCP']).EXITS_diff.transform(
        lambda x: np.where((x<0)|(x>20000),x.mask((x<0)|(x>20000)).mean(),x))

In [55]:
df.groupby(most_units_stations)['ENTRIES_diff'].sum().sort_values(ascending=False)[:6]

Series([], Name: ENTRIES_diff, dtype: float64)